<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/stylesheetFinal.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto&display=swap" rel="stylesheet">

<title>Food Finder</title>
</head>
<body>
    <div class="notfood">
        <h1>Prediction: Not Food!</h1>
        <p>(Probably)</p>
        <form>
            <input class="buttonStyle" type="button" value="Click here to try another image!" onclick="history.back()">
        </form>
    </div>
</body>

</html>