<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet3.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto&display=swap" rel="stylesheet">

<title>Food Finder</title>
{{ dropzone.load_css() }}
{{ dropzone.style('border: 3px dashed #153a73; background-color: #ebf1fa;width: 200;height: 200px;margin: auto;color: #ebf1fa;') }}
</head>
<body>
    <div class="header">
        <h1>FoodFinder</h1>
        <p>Transfer learning powered!</p>
    </div>

    <div class="para">
        <div class="childL">
    <p>Ever had trouble finding out if there's food in an image?</p>
    <p>Well worry no more! Using the power of a transfer learning model, you can find out if there's food in your picture!</p>
    <p>Trained using a ResNet50 base, the model achieves approximately 97% accuracy in determing whether an image contains food or not. Try it for yourself.</p> 
    <p>Click on the box, or drag your picture in to find out:</p>
        </div>
        <div class="childR">
    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
        </div>
    </div>

</body>

</html>


