<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/stylesheetFinal.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto&display=swap" rel="stylesheet">

<title>Food Finder</title>
{{ dropzone.load_css() }}
{{ dropzone.style('border: 3px dashed #153a73; background-color: #ebf1fa;width: 200;height: 200px;margin: auto;color: #ebf1fa;') }}
</head>
<body>
    <div class="header">
        <h1>FoodFinder</h1>
        <p>Transfer learning powered!</p>
    </div>

    <div class="para">
        <div class="childL">
    <p>Ever had trouble finding out if there's food in an image?</p>
    <p>Well worry no more! Using the power of a Transfer Learning model, you can find out if there's food in your picture!</p>
    <p>Trained using a ResNet50 base, this Transfer Learning model achieves approximately 95% accuracy in determing whether an image contains food or not. 
        Developed as a part of the NZMSA programme, if you'd like to learn more about the model used, please <a href="https://notebooks.azure.com/khal745/projects/nzmsa-phase-2-ai/html/TransferLearningFood5k.ipynb" style="color: white">
            click here to see a Azure notebook detailing the creation of the model</a>. 
    </p> 
    <p>Test the model yourself! Click on the box, or drag your picture in to find out:</p>
        </div>
        <div class="childR">
    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
        </div>
    </div>

</body>

</html>


